$color-the-white: #fff;
$color-the-black: #000;
$color-g86-headline-blue: #22b0df;
$color-g86-link-blue: #22b0df;
$color-g86-menu-highlight-blue: #33ccff;
$color-g86-menu-highlight-green: #00e600;
$color-page-header-bg-grey: #fafafa;
$color-page-bg-grey: #f5f5f5;
$color-body-text-grey: #666;
$color-darker-text-grey: #333;
$color-menu-border-grey: #f2f2f2;
$color-menu-text-grey: #404040;
$color-menu-shadow: rgba(102, 102, 102, 0.2);
$color-header-separator-grey: rgba(64, 64, 64, 0.2);
$color-box-shadow-transparent-grey: rgba(64, 64, 64, 0.2);
$color-button-black: #333;
$color-g86-button-blue: #22b0df;
$color-g86-button-red: #da2626;
$color-g86-button-red-border: #be1616;