.g86-font, body { font-family: 'Open Sans', sans-serif; }
.g86-font-signature, .g86-signature { font-family: 'Mr De Haviland', cursive; }

.g86-headline-1, .g86-signature, h1 { font-size: 37px; }
.g86-headline-1, h1 { font-size: 37px; font-weight: 300; }
.g86-headline-2, h2 { font-size: 25px; font-weight: 600; }
.g86-headline-3, h3 { font-size: 19px; font-weight: 600; text-transform: uppercase; }
.g86-headline-4, h4 { font-size: 17px; font-weight: 700; }
.g86-text, p, td, th, i { font-size: 15px; }
.g86-text-larger, blockquote { font-size: 17px; }
.g86-text-smaller { font-size: 13px; }
.g86-text-small { font-size: 11px; }

.g86-weight-light { font-weight: 300; }
.g86-weight-normal { font-weight: 400; }
.g86-weight-semibold { font-weight: 600; }
.g86-weight-bold { font-weight: 700; }